@import 'header';
@import 'teams';
@import 'loader';

.headImage {
  position: absolute;
  margin-left: 19em;
  width: 13.6%;
  height: auto;
  opacity: 0.3;
}

.bgImage {
  width: 30%;
  height: auto;
  opacity: 0.7;
  float: left;
  margin-left: 10em;
  padding-top: 1em;
}

.homeText {
  padding-top: 1em;
  padding-left: 33em;
  font-size: 20px;
}

body {
  background: #fafafa;
}
