h1 {
  text-align: center;
  font-family: papercraft;
  font-size: 5em;
}

ul {
  margin-left: 2em;
}

.teamLi {
  float: left;
  width: 25%;
  font-size: 1.3em;
}

.teamSeason {
  margin-top: 15em;
  margin-left: 42%;
}

.bigFont {
  font-size: 1.5em;
}
