h1 {
  text-align: center;
  font-family: papercraft;
  font-size: 5em;
  color: #d32f2f;
  padding-top: 0.3em;
  border-bottom: 2px double black;
}

ul {
  margin-left: 2em;
}

.teamLi {
  float: left;
  width: 25%;
  font-size: 1.3em;
}

.teamSeason {
  margin-top: 15em;
  margin-left: 42%;
}

.bigFont {
  font-size: 1.5em;
}

.container {
  padding: 1em;
  float: left;
  border: 3px solid black;
  width: 40%;
}
